
* {
}

body {
    margin: 0;
    color: rgba(19,9,29,0.69);
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
button, #translationKey{
    border: none;
    font-weight: bold;
    color: rgba(19,9,29,0.69);
    font-style: oblique;
    outline: none;
    color: white;
    cursor: pointer;
}
.container {
    width: 100%;
    margin: auto;
    height: 100%;
}

header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: dodgerblue;
    padding: 0 10px;
}
header>div{
    display: flex;
    justify-content: space-around;
}

.logo-container {
    width: 236px;
    display: flex;
    flex-direction: row;
}

.logo-good {
    top: 10px;
    border: none;
    outline: none;
    font-size: 40px;
    padding: 0 4px;
    background-color: dodgerblue;
    font-weight: bold;
    color: rgba(19, 9, 29, 0.69);
}
.logo-bet{
    background-color: dodgerblue;
    height: 100%;
    padding: 0 3px;
    border: none;
    outline: none;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.logged .logo-good{
    color: #fff;
}
.logged .logo-bet{
    color: rgba(19,9,29,0.69);
}
#translationKey {
    background-color: dodgerblue;
    font-style: oblique;
    color: white;
}

#translationKey:hover {
    color: rgba(19, 9, 29, 0.69);
}

.login-popup-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #343333cf;
    top: 0;
    display: none;
}

.login-popup {
    width: 154px;
    height: 130px;
    border: 1px solid silver;
    margin: 100px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background: #fff;
}

.user {
    margin: 0;
    display: none;
    padding-right: 15px;
}
.user>.login{
    padding-right: 10px;
    font-style: oblique;
    font-size: 18px;
    font-weight: bold;
}
.avatar{
    border: 1px solid silver;
    width: 30px;
    height: 40px;
}
.main-menu{
    display: inline-flex;
    flex-direction: row;
}
.menu {
    height: 100%;
    font-size: 15px;
    background-color: dodgerblue;
}
.menu:hover{
    color: rgba(19,9,29,0.69);
}
.showLoginDialogButton{
    color: #3b3b3b;
}
.massage {
    color: red;
    font-size: 10px;
    display: none;
}
.login-button, .register-button {
    display: none;
    font-style: normal;
    color: rgba(1,3,3,0.69);
}
.log-out{
    font-style: normal;
    color: dimgray;
}

main{
    display: grid;
    grid-template-columns: 2fr 6fr 3fr;
    height: 634px;
    padding: 5px 10px;
}
.sport-menu, section, .bets{
    background-color: rgba(178, 255, 17, 0.25);
    margin: 5px;
}
.sport-menu{
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 200px;
}

.sport-title{
    padding: 5px 10px;
    background-color: rgba(228, 247, 100, 0.3);
    font-weight: revert;
}

.az-sport{
    font-style: normal;
    color: dimgray;
    padding: 6px 15px;
    display: flex;
    background-color: rgba(178, 255, 17, 0);
    font-weight: 500;
}
.az-sport:hover{
    color: rgba(69,74,74,0.69);
}
.az-sport:active{
    color: #787878;
}

.sport-content{

}
.event-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}
.event-name-container{
    font-size: 17px;
    padding: 14px;
}
.button-container{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.button-coefficient{
    margin: 5px;
    width: 80px;
    height: 40px;
    padding: 5px 20px;
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #000000;
    font-style: inherit;
    font-weight: 500;
}

.button-coefficient:hover{
    background-color: #dcdcdc;

}
.button-coefficient:link{
    background-color: dodgerblue;
}
.submitted-beating-button{
    background-color: rgba(71, 179, 255, 0.68);
     color: black !important;
}
.submitted-beating-button:hover{
    background-color: rgba(71, 179, 255, 0.93);
}
.increased-bet{
    color: green;
}

.decreased-bet{
    color: red;
}
.bets{

}

footer{
    width: 100%;
    height: 70px;
    background-color: lightblue;
}
